.links{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logout{
    background:rgb(245, 18, 18);
    border-radius: 30px;
    padding-left: 16px;
    padding-right:16px ;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}