

@tailwind base;
@tailwind components;
@tailwind utilities;

/* postCard.module.css */




.horizontalScrollContainer {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  }
  
  .horizontalScrollContainer::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Safari, and Opera */
  }
  
  .postCard {
    /* Add styles for each post card here */
    margin-right: 16px; /* Adjust as needed */
  }
  
  /* Add styles for navigation arrows if needed */
  