.card{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}
.content{
    
}
.image{
    border-radius: 70px;
}